body {
  margin: 0;
  padding: 0;
  background-color: #AAAAAA;
  text-align: center;
}

#nav {
  background-color: #252525;
  margin: 0;
  padding: 5pt;
  list-style-type: none;
}

#nav li{
  display: inline;
}

a {
  text-decoration: none;
}

.header_link {
  color: #ff7700;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}

.header_link_active {
  border-style: hidden solid hidden solid;
  border-width: 1px;
}

#main {
  display: grid;
  grid-template-columns: auto 800px auto;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 800px){
  #main {
    display: grid;
    grid-template-columns: 0px auto 0px;
  }
}


.center_box{
  background-color: #555555;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}


#header_logo {
  color: #ff7700;
  font-size: 30px;
}

/*ul#sandwich_list{
  background-color: #BBBBBB;
  list-style-type: none;
  padding: 5px;
  width: 500px;
  margin: auto;
}

#sandwich_list li{
  border-style: solid hidden hidden hidden;
  border-width: 1px;
}*/
